pycoalescence/NECSim/SimTest/SimTest.txt
pycoalescence/.idea*
.idea/*
*.vs*
pycoalescence/__pycache__/*
*/NECSim.txt
*Release/*
*Debug/*
pycoalescence/build*NECSim
pycoalescence/build*SpeciationCounter
pycoalescence/build/default/*
pycoalescence/build/nv/*
pycoalescence/build/v/*
pycoalescence/NECSim/cppmodule.txt
*.o
*.o.d
*.mk

docs/.DS_Store
*.dSYM
*.bak
/Coal_v1
*.codelite/*
*.DS_Store
*DS_Store
*.so
*.d
*/Makefile
*Coal_v1.txt
*NECSim/SpeciationCounter
*NECSim/NECSim
*CoalSim
*SpeciationCounter.txt
*compilation.db
*.txt~
*.pyd
*.out
*.codelite/*
pycoalescence/NECSim/ProtractedSim.txt
pycoalescence/NECSim/config.*
pycoalescence/NECSim/autom*
pycoalescence/NECSim/Logs/*
pycoalescence/NECSim/confg*
pycoalescence/NECSim/conft*
pycoalescence/NECSim/configure
pycoalescence/NECSim/autom4te
*SpeciationCounter.txt
*__pycache*
*.pyc
pycoalescence/NECSim/SimTest/Debug/*

pycoalescence/NECSim/cmake-build-debug/

pycoalescence/NECSim/\.idea/

*.ipynb

pycoalescence/NECSim/cmake-build-release/

pycoalescence/NECSim/cmake-build-release-venv/

pycoalescence/lib/\.idea/

pycoalescence/lib/cmake-build-debug/

pycoalescence/lib/cmake-build-release-venv/

pycoalescence/lib/cmake-build-release/

pycoalescence/lib/Documentation/html/

testing_script\.py

build/

dist/

pycoalescence/obj/

conda-recipe/

pycoalescence\.egg-info/
setting.runsettings
pycoalescence.sln
pycoalescence.pyproj
pycoalescence/lib/ALL_BUILD.*
pycoalescence/lib/ZERO_CHECK.*
pycoalescence/lib/cmake_install.cmake
pycoalescence/lib/necsim.sln
pycoalescence/lib/necsim.vcx*
docs/necsim_doc/html/*
docs/necsim_doc/latex/*
docs/_build/*
docs/necsim/*
