include pycoalescence/*.py
graft pycoalescence/reference
graft pycoalescence/sample
graft pycoalescence/necsim
recursive-include pycoalescence/necsim *.m4
recursive-include pycoalescence/necsim *.cpp *.h *.hpp
recursive-include pycoalescence/necsim/cmake *.cmake
global-exclude *.pyc
exclude pycoalescence/necsim/necsim/main.cpp
exclude pycoalescence/necsim/necsim.cp*
prune pycoalescence/necsim/cmake-*
prune pycoalescence/necsim/necsim/cmake-*
recursive-exclude pycoalescence/necsim/necsim/CMakeFiles/ *
include LICENSE.txt
include pycoalescence/necsim/py_necsim.*
include setup.cfg
include pycoalescence/necsim/CMakeLists.txt
include CMakeLists.txt
include requirements.txt
global-exclude *DS_Store
