include pycoalescence/*.py
graft pycoalescence/reference
graft pycoalescence/necsim/necsim*

recursive-include pycoalescence/necsim *.m4
recursive-include pycoalescence/necsim *.cpp *.h *.hpp *.pyx *.pxd
recursive-include pycoalescence/necsim/cmake *.cmake
global-exclude *.pyc
exclude pycoalescence/necsim/necsim/main.cpp
exclude pycoalescence/necsim/necsim.cp*
prune pycoalescence/necsim/cmake-*
prune pycoalescence/necsim/necsim/cmake-*
include LICENSE.txt
include setup.cfg
include pycoalescence/necsim/CMakeLists.txt
include CMakeLists.txt
include requirements.txt
prune pycoalescence/necsim/necsim/CMakeFiles*
prune pycoalescence/necsim/necsim/.idea*
global-exclude *DS_Store
