/.build*
pycoalescence.txt
necsim.txt
Release/*
Debug/*
Doxyfile
*.o
*.o.d
*.mk
*.dSYM
*.bak
/Coal_v1
.codelite/*
.DS_Store
.d
Makefile
Coal_v1.txt
Speciation_Counter.txt
compilation.db
*.txt~
*.out
*.codelite/.tern-port*
3
/Speciation_Counter
config.*
*.o
*.project
*.workspace
autom*
Logs/*
confg*
conft*
configure
autom4te.*
SpeciationCounter.txt
